*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    color: #fff;
    background-color: black;
}

.navig{
background-color: bisque;
text-align: right;

top: 0;
position: sticky;
margin-top: 10px;


}
.line{
    list-style: none;
    display: inline-block;
    padding: 20px;
  
}

.link{
    text-decoration: none;
  
}

.link.active{
border-bottom: 2px solid red;
}

.nasted{
    display: flex; justify-content: center;  align-items: center; background-color: rgb(8, 77, 29);
   
  
   
}

img[alt~="not"]{
border: 2px solid red; margin-left: 100px;

}